* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background-color: aliceblue;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: forestgreen;
  border-radius: 2px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.overlay {
  width: 100%;
  height: 120vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 995;
  display: flex;
}

.layer {
  background-color: white;
}

.layer1 {
  flex: 1;
}

.layer2 {
  flex: 1;
}
.layer3 {
  flex: 1;
}

.layer4 {
  flex: 1;
}
.layer5 {
  flex: 1;
}
